@model CategoryUpdateModel
@{
    Layout = "_Layout";
}

<form asp-action="Update" asp-controller="Category" method="post">
    <input type="hidden" value="@Model.Id" />
    <div class="mb-3">
        <label asp-for="@Model.Definition">Definition : </label>
        <input class="form-control" type="text" asp-for="@Model.Definition" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>